@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;


  hex:#3e71d0;
}

/* >Tailwind Docs: Theme */
@theme {/* Highlight hex-code > Ctrl+k+g */

  --color-primary: #FF8422;
  --color-primary-foreground: #1a1a1a;
  
  --color-secondary: #ffffff;
  --color-secondary-foreground: #000000;

  --color-terciary: #222222;
  --color-terciary-foreground: #bbbbbb;

  --color-muted: #262626;
  --color-muted-foreground: #999999;

  --color-highlight: #ff7300;
  --color-highlight-foreground: #171717;

  --color-border: #404040;
  
  --background-image-bgg: linear-gradient(335deg, rgb(from var(--color-primary) r g b / 0.7) 0%, rgb(from var(--color-terciary) r g b / 0.9) 80%);
  --background-image-bgi: url('/images/background3.jpg');
  --background-image-chat-bg: var(--background-image-bgg), var(--background-image-bgi);
  /* --color-chat-bg: #999999; */

  /* Test colors */
  --color-test: #ff0000; /* red */
  --color-test1: #00f800;/* green */
  --color-test2: #0000f8;/* blue */
  --color-test3: #fefe00;/* yellow */

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.5);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-primary:  var(--font-nunito);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
body {
  @apply bg-terciary text-foreground;
}

::selection {background-color: var(--color-highlight); color:  var(--color-highlight-foreground);}

/* Makes hover work in TW v4 (In v4 hybrids id as touch devices, not applying hover automatically) */
@custom-variant hover (&:hover);
/* You can test this by using Surface7Pro w/out keyboard, and testing their website hover animations */

/* Tailwind custom additions */
/* :not([class*="twProp-"]) to prevent overriding TW properties */

/* .font-primary:not([class*="tracking-"]) {letter-spacing: 0.15em;} */